{% extends "_base.html" %}
{% block head %}
{% endblock %}

{% block title %}
Home
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>About Us</h3>

            <p>Sterling Cooper Draper Pryce is a full-service digital marketing agency in New York City.
                From branding, graphic design, inbound marketing, social media integration, website
                development and maintenance to copywriting, targeted PR and online management, SCDP provides
                leading advice and supervision for music brands of all sizes.
            </p>
            <h4>History</h4>
            <p>Sterling Cooper was founded by Bertram Cooper and Roger Sterling Sr. in 1923. In the Fall of
                1962, the firm was merged with British firm, Puttnam, Powell, and Lowe. Because of the
                impending sale of Puttnam, Powell, and Lowe to McCann Erickson, Lane Pryce was convinced to
                free Don Draper, Bertram Cooper, and Roger Sterling from their employment contracts to start
                Sterling Cooper Draper Pryce.
            </p>
            <h4>Staff</h4>
            <img src="static/images/staff.jpg" alt=""/>
            <h5>Partners</h5>
            <ul class="list-group">
                <li class="list-group-item">Bertram Cooper</li>
                <li class="list-group-item">Don Draper</li>
                <li class="list-group-item">Joan Holloway</li>
                <li class="list-group-item">Pete Campbell</li>
                <li class="list-group-item">Roger Sterling</li>
            </ul>
            <h5>Admin</h5>
            <ul class="list-group">
                <li class="list-group-item">Freddy Rumsen</li>
                <li class="list-group-item">Harry Crane</li>
                <li class="list-group-item">Ken Cosgrove</li>
                <li class="list-group-item">Stan Rizzo</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}