{% extends "_base.html" %}
{% block head %}
{% endblock %}

{% block title %}
    Home
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
			<br>
			<br>
                <h3>Campaigns</h3>
				<ul class="list-group">
					<li class="list-group-item"><a href="campaigns/email">Email Sign-up</a></li>
					<li class="list-group-item"><a href="campaigns/mp3">Digital Music Poll</a></li>
					<li class="list-group-item">Poll</li>

				</ul>
            </div>
        </div>
    </div>

{% endblock %}