{% extends "_base.html" %}


{% block nav-performances %}class="active"{% endblock %}
{% block titleBlock %} Bike Contest {% endblock %}
{% block content %}
<form action="contest1" method = "POST">
    {% csrf_token %}
	<h2> Enter your email address to get signed up for our newsletter</h2>
	
		
	<br></br>
	<p> First Name: </p>
    <p>{{form.firstname}}</p>
	<p> Last Name: </p>
	<p>{{form.lastname}}</p>
	<p> Your Email: </p>
	<p>{{form.email}}</p>
    <input type="submit" value = "Submit"/>
</form>
{% endblock %}

