{% extends "_base.html" %}
{% block head %}
{% endblock %}

{% block title %}
    Home
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
			<br>
			<br>
                <h3>Lorem ipsum</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida eu magna
                    vel cursus. Donec placerat risus mauris, vel tristique tortor dictum vel.
                    Pellentesque luctus ut metus et pretium. Phasellus rutrum ornare urna vel
                    commodo. Proin tempus est a ligula aliquet, eu volutpat eros vulputate.
                    Duis pretium rutrum malesuada. Donec ac pellentesque mauris, id laoreet
                    tellus. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. In tincidunt quam vitae placerat
                    convallis. Pellentesque sit amet volutpat metus. Duis dictum justo diam, at
                    eleifend est lacinia nec. Aenean ornare egestas rhoncus.</p>
            </div>
        </div>
    </div>

{% endblock %}