{% extends '_base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/mp3.css">
{% endblock %}

{% block content %}
<!-- checks for successful POST and displays success message -->
    <div class="container">
        <h3>Get a free Amazon mp3 download</h3>
        <div class="row">
            <div class="col-sm-12">
            {% if messages %}
                <div class = 'alert alert-success' role="alert">
                {% for message in messages %}
                    {{ message.message }}
                {% endfor %}
                </div>
            {% endif %}
            <p>Fill out the form below and we will send you a link to a free song download!</p>
            <form action="mp3" method="POST">
                {% load bootstrap3 %}
                {% csrf_token %}
                {%  bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit">Gimme my mp3!</button>
                {% endbuttons %}
            </form>
            </div><!--/col-sm-12-->
        </div><!-- /row-->
    </div>
{% endblock %}