{% extends '_base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/mp3.css">
{% endblock %}

{% block content %}
<!-- checks for successful POST and displays success message -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            {% if messages %}
                <div class = 'alert alert-success' role="alert">
                {% for message in messages %}
                    {{ message.message }}
                {% endfor %}
                </div>
            {% endif %}

            <h1>Get a free Amazon mp3 download</h1>
            <p>Fill out the form below and we will send you a link to a free song download!</p>

            {% if form.subject.errors %}
                {% for error in form.subject.errors %}
                    <p>{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            <form action="mp3" method="POST">
            {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Gimme my mp3!">
            </form>
            </div><!--/col-sm-12-->
        </div><!-- /row-->
    </div>
{% endblock %}