{% extends "_base.html" %}
{% block head %}
{% endblock %}

{% block title %}
    Enter to Win with Mountain Dew
{% endblock %}
{% block content %}

    <div class="container container-top-padding">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Enter to with Mountain Dew</h3>
                {% if messages %}
                    <div class='alert alert-success' role="alert">
                        {% for message in messages %}
                            {{ message.message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <form action="mtndewpoll" method="POST">
                    {% load bootstrap3 %}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    {% endbuttons %}
                </form>
             <p class="tiny">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

{% endblock %}