#jumbo {
    position: fixed;
    top: -42%;
    left: -50%;
    width: 200%;
    height: 170%;
}

#jumbo img {
    position: absolute;
    padding-top: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 40%;
}

.container-top-padding {
    padding-top: 60px;
}

.tiny {
    font-size: 75%
}

.tinyx {
    font-size: 50%
}

.tinyxx {
    font-size: 35%
}

.banner {
    width: 100%;
    height: 300px;
    background: url('/static/images/banner.jpg');
    background-size: cover;
    margin-bottom: 20px;
}
.jumbotron {
    margin-bottom: 0;
    min-height: 300px;

}
@media (min-width: 1100px) {
    .banner {
        height: 400px;
    }
}
.callouts {
    margin-bottom: 40px;
}